<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Flower Mum    by Free CSS Templates</title>
</head>
<body><table>
          <tr>
            <td colspan="3">
              <p style="text-align: center;width: 100%;"">dsafasdfdsafdsafdsafdsfdsf</p></td>
          </tr>
        <tr>
          <td colspan="3">
          <div class="bodytitle  paddingtop1 fromaddress">From </div></td>
        </tr>
        <tr>
          <td colspan="3">
          <div class="bodytitlecontent fromaddresscontent">{fromaddresscontent}</div></td>
        </tr>
        <tr>
          <td colspan="3">
          <div class="bodytitle toaddress">To </div></td>
        </tr>
        <tr>
          <td colspan="3">
          <div class="bodytitlecontent toaddresscontent">{toaddresscontent}</div></td>
        </tr>
        <tr>
          <td colspan="3">
          <div class="bodytitle paddingtop1 sirmadam">Sir/Madam,</div></td>
        </tr>
        <tr>
          <td colspan="3">
          <div class="bodytitle  paddingtop1 subject">Subject : </div></td>
        </tr>
        <tr>
          <td colspan="3">
          <div class="bodytitlecontent subjectcontent">{subjectcontent}</div></td>
        </tr>
        <tr>
          <td colspan="3">
          <div class="bodytitlecontent maincontent">{maincontent}
          </div></td>
        </tr>
        <tr>
          <td>
          <div class="bodytitle paddingtop1 place">Place : </div></td><td><div class="bodyhead placecontent"> $placecontent</div></td><td><div class="bodytitle signature">Yours, </div></td>
        </tr>
        <tr>
          <td>
            <div class="bodytitle date">Date : </div></td><td><div class="bodyhead datecontent">{datecontent}</div></td><td></td>
        </tr>
      </table>

    </body>
    </html>
    